section {
  main {
    form {
      h2 {
        margin: auto;
        width: 80%;
        font-size: 1.8rem;
        margin-bottom: 15px;
      }
    }
  }
}
.hidden {
  display: none;
}
.recette {
  height: 300px;
}
