@import "./settings.scss";
@import "./components/aliment.scss";
@import "./components/card.scss";
@import "./components/formGenerate.scss";
html {
  // background: #f6f4e8;
  background: $background;
}
h2 {
  color: #020826;
  font-family: "font-2";
}
.besoins-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  .besoins {
    width: 50%;
    border-right: 1px dashed maroon;
    ul {
      width: 70%;
      li {
        padding-top: 15px;
      }
    }
  }
  .aliments_cliquables {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    border-radius: 30px;
    text-align: center;
    background: $rougeSoft;
    width: 28%;
    height: 50px;
    padding-top: auto;
    padding-bottom: auto;
    margin-bottom: 15px;
    margin-right: 8px;
    animation: appearSlow 300ms ease-in-out;
    span {
      margin: auto;
      font-size: 0.9rem;
    }
  }
  .color-green {
    animation: appearGreen 300ms ease-in-out;

    background: rgba(29, 158, 29, 0.705);
  }
  .cancel-button {
    cursor: pointer;
    padding-left: 30px;
  }
  .button-container {
    width: 50%;
    .container-recette {
      .checkbox-container {
        display: flex;
        flex-wrap: wrap;
        margin-left: 35px;
        margin-bottom: 15px;
        align-items: center;
        // justify-content: center;
        width: 100%;
        h2 {
          animation: appearSlow 2s ease-in-out;
        }
        .checkbox-wrapper {
          animation: appearSlow 2s ease-in-out;
          width: 50%;
          display: flex;
          justify-content: start;
          input {
            margin-right: 8px;
          }
        }
      }
      .generer-repas {
        margin: 0;
        margin-top: 15px;
        font-size: 1rem;
        height: 40px;
      }
    }
  }
  .generer-repas {
    background: $button;
    color: $button-text;
    cursor: pointer;
    padding: 12px 12px;
    border-radius: 25px;
    margin-top: 50px;
    height: 60px;
    font-size: 1.5rem;
    transition: all 0.5s;
    position: relative;
    &:hover {
      transform: scale(1.1);
    }
    &:before {
      content: "";
      position: absolute;
      border-radius: 25px;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: rgba(156, 151, 151, 0.1);
      transition: all 0.3s;
    }
    &:hover:before {
      opacity: 0;
      transform: scale(1.5, 1.5);
    }
    &:after {
      content: "";
      position: absolute;
      border-radius: 25px;

      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0;
      transition: all 0.3s;
      border: 1px solid rgba(255, 255, 255, 0.5);
      transform: scale(1.2, 1.2);
    }
    &:hover:after {
      opacity: 1;
      transform: scale(1, 1);
    }
  }
}
.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
section {
  font-family: "font-3";
  margin-top: 15px;
  margin-right: 10px;
  width: 65%;
  padding-bottom: 30px;
  .logo-container {
    padding-right: 15px;
    position: relative;
    height: 70px;
    background-image: url("../assets/grass.jpg");
    background-position: bottom;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    animation-fill-mode: forwards;
    &:active {
      .logo6 {
        animation: logo6 1s;
      }

      .logo5 {
        // webkit-animation-delay: 5s;
        // webkit-animation-duration: 1s;
        // webkit-animation-name: glissement;
        // animation-delay: 4s;
        animation: logo5 2s;
      }
      .logo4 {
        animation: logo4 3s;
      }
      .logo3 {
        animation: logo3 10s;
      }
      .logo2 {
        animation: logo2 11s;
      }
      .logo1 {
        animation: logo1 12s;
      }
    }

    .carotte {
      position: absolute;
      left: 1%;
      bottom: 5px;
      height: 40px;
    }
    .carotte2 {
      transform: rotate(-30deg);
    }
    .carotte3 {
      transform: rotate(-15deg);
    }
    .logo {
      position: absolute;
      width: 40px;
      height: 40px;
    }
    .logo1 {
      opacity: 0;
      left: 8%;
      bottom: 0px;
    }
    .logo2 {
      opacity: 0;
      left: 18%;
      bottom: 10px;
    }
    .logo3 {
      opacity: 0;
      left: 28%;
      bottom: 30px;
    }
    .logo4 {
      opacity: 0;
      right: 30%;
      bottom: 45px;
    }
    .logo5 {
      opacity: 0;
      right: 20%;
      bottom: 0px;
    }
    .logo6 {
      right: 8%;
      bottom: 0px;
    }
  }
  main {
    padding-top: 30px;
    text-align: center;
    h2 {
      font-size: 3.2rem;
    }
    ul {
      color: $paragraph;
      width: 30%;
      margin: auto;
      margin-top: 20px;
    }
    li {
      font-size: 1.2rem;
      list-style: circle;
    }
    .preferences {
      margin-top: 50px;
      display: flex;
      justify-content: space-between;
      div {
        height: 100%;
        padding-bottom: 30px;
        background: $card-background;
      }
      .aime {
        padding: 10px;
        border-radius: 20px;
        border: 1px solid black;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
      }
      .deteste {
        padding: 10px;
        border-radius: 20px;
        margin-left: 20px;
        border: 1px solid black;

        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
      }
      .logoBouftout {
        z-index: 1000;
        cursor: pointer;
        border-radius: 15px;

        right: 8px;
        top: 8px;
        position: absolute;
        height: 100px;
        width: 80px;
        transition-duration: 400ms;
        &:hover {
          margin-right: 80px;
          transform: scale(3);
        }
      }
      .aime {
        width: 50%;
        position: relative;
        h2 {
          animation-duration: 600ms;
          animation-name: h2AlimentAppear;
          &::after {
            content: "";
            width: 70%;
            height: 4px;
            background-color: $color-3;
            margin: auto;
            position: relative;
            top: 4px;
            display: block;
          }
        }
      }
      .deteste {
        width: 50%;
        position: relative;

        h2 {
          &::after {
            content: "";
            width: 70%;
            height: 4px;
            background-color: rgb(184, 18, 18);
            margin: auto;
            position: relative;
            top: 4px;
            display: block;
          }
        }
      }
      .logo-aliments-preferes {
        margin: auto;
        padding-top: 20px;
        width: 80%;
        display: flex;
        justify-content: space-around;
        .aliment {
          width: 30px;
          height: 30px;
          border-radius: 100%;

          cursor: pointer;
          position: relative;
          &:hover {
            .hover-alim {
              visibility: visible;
            }
          }
          .hover-alim {
            visibility: hidden;
            width: 150px;
          }
          .emoji {
            font-size: 2.2rem;
            text-align: center;
            height: 50px;
            width: 35px;
          }
          img {
            width: 30px;
            height: 30px;
            // object-fit: cover;
          }
        }
      }
    }

    .background-change {
      margin-bottom: -80px;
      margin-top: 30px;
      margin-left: -700px;
      background: #8c7851;
    }
    .search-container {
      padding-top: 30px;
      margin-left: 40%;
      h2 {
        color: #fffffe;
      }
      .saisie-aliment {
        text-align: center;
        border-radius: 3%;
        margin-top: 30px;
        width: auto;
        font-size: 1.75rem;
        height: auto;
      }
      .loop {
        padding-left: 10px;
        cursor: pointer;
        font-size: 1.75rem;
      }
    }
    .tableau-container {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-top: 50px;
    }
  }
}
.parchemin {
  position: relative;
  background-image: url("../../public/assets/parchemin.png");
  background-size: cover;
  width: 60%;
  height: 100%;
  animation: appearSlow 1s ease-in-out;
  font-family: "font-4";
  margin: auto;
  button {
    color: white;
  }
  .parchemin_titre {
    font-family: "font-4";
    margin: auto;
    padding-top: 55px;
    font-size: 1.8rem;
    font-weight: 400;
  }

  ul {
    opacity: 0;

    text-align: left;
    width: 50%;
    margin: auto;
    // margin-right: 75px;
    padding-top: 15px;
    padding-left: 20px;
    animation-duration: 1s;
    // opacity: 0;
    animation-delay: 1s;
    animation-fill-mode: forwards;

    animation-name: appearSlow;
    // opacity: 1;

    li {
      font-size: 0.98rem;
      padding-top: 15px;
      list-style: disc;
    }
    .recette0 {
      animation-delay: 0;
    }
    .recette1 {
      animation-delay: 2s;
    }
    .recette2 {
      animation-delay: 3s;
    }
  }
}
@media screen and (max-width: 760px) {
  section main form h2 {
    margin-top: 30px;
  }
  section {
    width: 100%;
    .logo-container {
      border-radius: 0px;
    }
  }
  .parchemin {
    margin-top: 30px;
    width: 80%;
    align-items: center;
    justify-content: center;
    ul {
      height: 100%;
      padding-top: 0;
      margin-top: auto;
      margin: auto;
      padding-left: 38px;
    }
    .parchemin_titre {
      padding-top: 28px;
    }
  }
  .besoins-container {
    flex-direction: column;
    .besoins {
      width: 100%;
      border: none;
    }
    li {
      padding-bottom: 8px;
    }
    .button-container {
      width: 100%;
      margin: auto;
      .generer-repas {
        margin-top: 30px;
        font-size: 1.1rem;
      }
    }
  }
  section {
    main {
      .preferences {
        flex-direction: column;
        align-items: center;
        h2 {
          font-size: 2rem;
          position: absolute;
          left: 8px;
          top: 8px;
        }
        .aime {
          width: 98%;
          margin-bottom: 20px;
        }
        .deteste {
          width: 98%;
          margin: 0;
        }
        .logo-aliments-preferes {
          padding-top: 65px;
          margin-left: 0px;
          .aliment {
            width: 30px;
            height: 30px;
            .emoji {
              font-size: 1.5rem;
              height: 30px;
              width: 25px;
            }
          }
        }
      }
      .background-change {
        width: 100%;
        margin: 0;
        margin-top: 30px;
        .search-container {
          margin-left: 0;
        }
      }
      .tableau-container {
        margin-top: 30px;
      }
      .card {
        margin: 8px;
        width: 25%;
        .infos {
          top: 8px;
          font-size: 0.98rem;
          line-height: normal;
          padding: 0.4rem;
        }
      }
    }
  }
}
@keyframes h2AlimentAppear {
  from {
    opacity: 0;
    width: 300%;
  }

  to {
    opacity: 1;
    width: 100%;
  }
}
@keyframes imageAlimentAppear {
  from {
    opacity: 0;
    width: 300%;
  }

  to {
    opacity: 1;
    width: 100%;
  }
}
@keyframes logo6 {
  from {
    margin-right: 0px;
    opacity: 1;
  }
  to {
    margin-right: 10%;
    opacity: 0;
  }
}
@keyframes logo5 {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }

  100% {
    transform: translate(-15px, -30px);
  }
}
@keyframes logo4 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  50% {
    transform: translate(2px, -50px);
    opacity: 1;
  }
  100% {
    transform: translate(15px, -350px);
  }
}
@keyframes logo3 {
  0% {
    transform: translate(0, -90px);
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translate(0, -3px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
@keyframes logo2 {
  0% {
    transform: translate(0, -30px);
    opacity: 0;
  }
  90% {
    opacity: 1;
    transform: translate(0, -3px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
@keyframes logo1 {
  0% {
    transform: translate(0, -30px);
    opacity: 0;
  }
  90% {
    opacity: 1;
    transform: translate(0, -3px);
  }
  100% {
    transform: translate(-20px, 0px);
  }
}

@keyframes appearSlow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appearGreen {
  from {
    opacity: 0;
    background: $rougeSoft;
  }
  to {
    opacity: 1;
    background: rgba(29, 158, 29, 0.705);
  }
}

/* Media queries  */
@media screen and (max-width: 1570px) {
  section {
    main {
      .preferences {
        .logoBouftout {
          height: 80px;
          width: 60px;
        }
        .aime {
          h2 {
            font-size: 2.5rem;
          }
        }
        .deteste {
          h2 {
            font-size: 2.5rem;
          }
        }
      }
    }
  }
  // .card {
  //   width: 10%;
  // }
}

@media screen and (max-width: 1400px) {
  section main .search-container {
    margin-left: 45%;
  }
  // .card {
  //   width: 10%;
  // }
}
@media screen and (max-width: 1092px) {
  section {
    width: 100%;
    padding: 15px;
  }
  .besoins-container .generer-repas {
    margin-top: 75px;
  }
  // .card {
  //   width: 10%;
  // }
}
@mixin anim-lapins($margin) {
  from {
    opacity: 1;
    margin: $margin;
  }
  to {
    margin: 0;
    opacity: 0;
  }
}
